*.pyc
*.sql
*.db
.*
venv/*
config.py
attiva.sh
static/404.html
static/LICENSE.txt
static/apple-touch-icon.png
static/browserconfig.xml
static/crossdomain.xml
static/css/main.css
static/css/normalize.css
static/css/ratchet-theme-ios.css
static/css/ratchet-theme-ios.min.css
static/css/ratchet.css
static/favicon.ico
static/fonts/
static/humans.txt
static/img/cache/
static/js/fingerblast.min.js
static/js/main.js
static/js/plugins.js
static/js/push.js
static/js/ratchet.js
static/js/vendor/
static/ratchet-2.0.2/

