<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="{{ url_for('static',filename='apple-touch-icon.png') }}">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ratchet.min.css') }}">
	<script src="{{ url_for('static',filename='js/ratchet.min.js') }}"></script>
    	<script src="http://149.132.118.92:8080/target/target-script-min.js#anonymous"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
<header class="bar bar-nav">
	<h1 class="title"><a href="/">Stupid Meteo</a></h1>
</header>
<body>
{% block body %}
<!-- Emulazione touch, togliere prima di produzione -->
<!-- <script src="{{ url_for('static',filename='js/fingerblast.min.js') }}"></script> -->
{% endblock %}
<!--
<div class="bar bar-standard bar-footer-secondary">
<a href="#" id="alertbox" style="display: none;" class="btn btn-negative btn-block btn-outlined">Allerta</a>
</div>
-->
<div class="bar bar-standard bar-footer">
	<a href="http://www.darksky.net/dev">Powered by Dark Sky</a>
</div>
</body>
</html>
