{% extends "layout_ratchet.html" %}
{% block body %}
<style>
.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.fileContainer [type=file] {
    cursor: pointer;

}

.logo {
  max-height: 40%;
  max-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto }

#hourglass {
    width:100% !important;
    position:relative;
    z-index:100;
    display:none;
}
</style>
<div id="pippo" class="content">
<img class="logo" src="{{ url_for('static',filename='img/stormycloud.png') }}" />
<p></p>
<form id="myform" method=post enctype=multipart/form-data>
<label class="fileContainer btn btn-positive btn-block">
Scegli una fotografia
<input type="file" id="myfile" name="myfile" accept="image/*;capture=camera" required /></label>
</form>
</div>
<img id="hourglass" src="{{ url_for('static',filename='img/hourglass.svg') }}" class="clessidra" />
<script>
// --- Geolocation --
var city;
var latitude;
var longitude;
function callback(data)
{

        //city = data.city;
        //latitude = data.latitude;
        //longitude = data.longitude;
        city = 'Milan';
        latitude = '45.5181';
        longitude= '9.2143'; 
        console.log('La tua citta: '+city);
}
// Riabilitare in produzione
//var script = document.createElement('script');
//script.type = 'text/javascript';
//script.src = 'https://geoip-db.com/json/geoip.php?jsonp=callback';
//var h = document.getElementsByTagName('script')[0];
//h.parentNode.insertBefore(script, h);
// --- Image upload --
var form = document.getElementById("myform");

var inputElement = document.getElementById("myfile");
inputElement.addEventListener("change", handleFiles, false);
function handleFiles() {
  //var fileList = this.files; /* now you can work with the file list */
  console.log('File selezionato.');
  dosubmit();
}

function transferFailed(evt) {
  console.log("An error occurred while transferring the file.");
}

function transferCanceled(evt) {
  console.log("The transfer has been canceled by the user.");
}

function dosubmit() {
var files = document.getElementById('myfile').files;
var data = new FormData();
var xhr = new XMLHttpRequest();
var progress = document.querySelector('.percent');

//xhr.addEventListener("load", transferComplete);
xhr.addEventListener("error", transferFailed);
xhr.addEventListener("abort", transferCanceled);
xhr.upload.addEventListener('progress',function(ev){
    if (ev.lengthComputable) {
        var percentLoaded = Math.round((ev.loaded / ev.total) * 100);
        console.log(((ev.loaded/ev.total)*100)+'%');
        // Increase the progress bar length.
    }
}, false);

xhr.onreadystatechange = function(ev){
    // Blah blah blah, you know how to make AJAX requests
    xhr.onreadystatechange = function () {
        if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
	    document.getElementById("hourglass").style.display = 'none';
	    document.getElementById("myfile").disabled = false;
            document.getElementById("pippo").innerHTML=xhr.responseText; 
	    document.getElementById("pippo").style.display = 'block';
        }
    };
};
xhr.open('POST', '#', true);
for(var i = 0; i < files.length; i++) data.append('file'+i, files[i]);
data.append('city',city);
data.append('latitude',latitude);
data.append('longitude',longitude);
document.getElementById("myfile").disabled = true;
document.getElementById("pippo").style.display = 'none';
document.getElementById("hourglass").style.display = 'block';
xhr.send(data);
}
form.addEventListener("submit", function (event) {
event.preventDefault();
dosubmit();
});
</script>
{% endblock %}
