{% extends "moblayout.html" %}
{% block body %}
<style>
  #progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
  }
  #progress_bar.loading {
    opacity: 1.0;
  }
  #progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
  }
</style>
<h4>Upload new File</h4>
<form id="myform" method=post enctype=multipart/form-data>
<input type="file" id="myfile" name="myfile" accept="image/*" required />
<div id="progress_bar"><div class="percent">0%</div></div>
<!-- <button onclick="abortRead();">Annulla</button> -->
<input type=submit value=Save> 
</form>
<div id="response"></div>
<script>
var form = document.getElementById("myform");
function dosubmit() {
var files = document.getElementById('myfile').files;
var data = new FormData();
var xhr = new XMLHttpRequest();
var progress = document.querySelector('.percent');
xhr.upload.addEventListener('progress',function(ev){
    if (ev.lengthComputable) {
        var percentLoaded = Math.round((ev.loaded / ev.total) * 100);
        console.log(((ev.loaded/ev.total)*100)+'%');
        // Increase the progress bar length.
        progress.style.width = (ev.loaded/ev.total) + '%';
        progress.textContent = (ev.loaded/ev.total) + '%';
    }
}, false);

xhr.onreadystatechange = function(ev){
    // Blah blah blah, you know how to make AJAX requests
    xhr.onreadystatechange = function () {
        if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
            //console.log(xhr.responseText);
            progress.style.width = '100%';
            progress.textContent = '100%';
            document.getElementById("response").innerHTML=xhr.responseText; 
        }
    };
};

xhr.open('POST', '#', true);
for(var i = 0; i < files.length; i++) data.append('file'+i, files[i]);
xhr.send(data);
}

form.addEventListener("submit", function (event) {
event.preventDefault();
dosubmit();
});
</script>
{% endblock %}
