{% extends "moblayout.html" %}
{% block body %}
<style>
  #progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 1;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
  }
  #progress_bar.loading {
    opacity: 1.0;
  }
  #progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
  }
</style>
<h4>Upload new File</h4>
<form id="myform" method=post enctype=multipart/form-data>
<input type="file" id="myfile" name="myfile" accept="image/*" required />
<div id="progress_bar"><div class="percent">0%</div></div>
<!-- <button onclick="abortRead();">Annulla</button> -->
<input type=submit value=Save> 
</form>
<div id="response"></div>
<script>
// --- Geolocation --
var city;
var latitude;
var longitude;
function callback(data)
{

        city = data.city;
        latitude = data.latitude;
        longitude = data.longitude;
        city = 'Milano';
        latitude = '45.5181';
        longitude= '9.2143';
        console.log('La tua citta: '+city);
}
// Riabilitare in produzione
//var script = document.createElement('script');
//script.type = 'text/javascript';
//script.src = 'https://geoip-db.com/json/geoip.php?jsonp=callback';
//var h = document.getElementsByTagName('script')[0];
//h.parentNode.insertBefore(script, h);
// --- Image upload --
var form = document.getElementById("myform");

function transferFailed(evt) {
  console.log("An error occurred while transferring the file.");
}

function transferCanceled(evt) {
  console.log("The transfer has been canceled by the user.");
}

function dosubmit() {
var files = document.getElementById('myfile').files;
var data = new FormData();
var xhr = new XMLHttpRequest();
var progress = document.querySelector('.percent');

xhr.addEventListener("load", transferComplete);
xhr.addEventListener("error", transferFailed);
xhr.addEventListener("abort", transferCanceled);



xhr.upload.addEventListener('progress',function(ev){
    if (ev.lengthComputable) {
        var percentLoaded = Math.round((ev.loaded / ev.total) * 100);
        console.log(((ev.loaded/ev.total)*100)+'%');
        // Increase the progress bar length.
        progress.style.width = (ev.loaded/ev.total) + '%';
        progress.textContent = (ev.loaded/ev.total) + '%';
    }
}, false);

xhr.onreadystatechange = function(ev){
    // Blah blah blah, you know how to make AJAX requests
    xhr.onreadystatechange = function () {
        if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
            //console.log(xhr.responseText);
            progress.style.width = '100%';
            progress.textContent = '100%';
            document.getElementById("response").innerHTML=xhr.responseText; 
        }
    };
};

xhr.open('POST', '#', true);
for(var i = 0; i < files.length; i++) data.append('file'+i, files[i]);
data.append('city',city);
data.append('latitude',latitude);
data.append('longitude',longitude);
xhr.send(data);
}

form.addEventListener("submit", function (event) {
event.preventDefault();
dosubmit();
});
</script>
<div class="footer.row">
    <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
</div>
{% endblock %}
